body {
    background-color: darkseagreen;
}
:root {
    --pale-sage: #BFF4CB;
    --sage: #84A98C;
    --dusty-emerald: #52796f;
    --deep-emerald: #354F52;
    --night-forest: #2F3E46;
}  
body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--night-forest);
    color: var(--pale-sage);
  }                  
  * {
    border: 1px solid teal;
}                  
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}                  
main {
    min-height: 60vh;
    flex-grow: 5;
  }
  
  aside, nav {
    background-color: var(--dusty-emerald);
    flex-grow: 2;
  }
  
  footer, header {
    background-color: var(--sage);
    flex-grow: 1;
  }                             
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    main {
      max-width: 60%;
    }
    header, footer {
      width: 100%;
    }
  }                                  
    main {
      max-width: 60%;
    }
    header, footer {
      width: 100%;
    }
                                 
